<!-- Fixed Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="fas fa-tools me-2"></i>
            <span>Multi-Tools Hub</span>
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Content -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Search Bar -->
            <div class="mx-auto w-50">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search tools..." id="searchTools">
                    <button class="btn btn-light" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <!-- Navigation Links -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-tools me-1"></i>Tools
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><h6 class="dropdown-header">Social Media</h6></li>
                        <li><a class="dropdown-item" href="/tools/social-media/facebook-downloader.html">Facebook Downloader</a></li>
                        <li><a class="dropdown-item" href="/tools/social-media/youtube-downloader.html">YouTube Downloader</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Image Tools</h6></li>
                        <li><a class="dropdown-item" href="/tools/image-tools/image-to-png.html">Image to PNG</a></li>
                        <li><a class="dropdown-item" href="/tools/image-tools/image-to-jpg.html">Image to JPG</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Text Tools</h6></li>
                        <li><a class="dropdown-item" href="/tools/text-tools/word-counter.html">Word Counter</a></li>
                        <li><a class="dropdown-item" href="/tools/text-tools/grammar-checker.html">Grammar Checker</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">
                        <i class="fas fa-info-circle me-1"></i>About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Spacer for fixed navbar -->
<div style="height: 70px;"></div>

<!-- Ad Space -->
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="ad-space-top text-center p-3 bg-light rounded">
                <p class="mb-0">Advertisement Space</p>
                <!-- AdSense or other ad code will go here -->
            </div>
        </div>
    </div>
</div> 